.container {
  transition-property: width;
  transition-duration: 0.7s;
  transition-timing-function: ease-out;
  height: 90%;
  margin: auto 0;
  border-left: 1px solid #7c5430;
  border-bottom: 2px solid #7c5430;
  border-top: 2px solid #7c5430;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: url('../../img/wood/PNGs/Melamine-wood-005.png');
  position: relative;
  overflow: hidden;
}

.closed {
  width: 100px;
}

.open {
  width: 40%;
}

/* .container svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); 
}*/
.borderDiv {
  background-image: url('../../img/rust.png');
  background-size: contain;
  background-repeat: repeat;
  padding: 4px 0 4px 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* canvas {
} */
